.Footer {
  width: 100%;
  /* justify-content: center; */

  padding: 20px 70px;
  background-color: #262626;
  text-align: center;
  color: #ffd883;
}

@media (max-width: 500px) {
  .Grid {
    flex-direction: column;
  }
  .Footer {
    width: 100%;
    /* justify-content: center; */
    padding: 20px 10px;
    background-color: #262626;
    text-align: center;
    color: #ffd883;
    align-items: center;
  }
}
