.container {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.slideImage {
  /* transition: transform 500ms ease-in; */

  /* z-index: 10; */
  position: absolute;

  height: 100%;
  /* left: 30%; */
  top: 50%;
  object-fit: cover;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /* overflow: hidden; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.719);
}

.title {
  color: rgb(0, 0, 0);
  /* background-color: rgba(0, 0, 0, 0.144); */
  font-size: 30px;
  font-weight: 700;
  z-index: 100;
  position: relative;
}

.eachSlide {
  font-family: 'Merriweather', serif;
  height: 400px;
  /* overflow: hidden; */
  text-align: center;

  /* background-color: rgba(252, 221, 135, 0.555); */
}

.eachSlide:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  /* cursor: pointer; */
  /* transform: scale(1.05); */
}
