.Information {
  /* margin: 20px auto; */
  font-family: 'Mitr', sans-serif;
  text-align: center;
  padding: 20px 20px;
  /* color: #080c13c7; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-weight: 700; */
  /* font-size: large; */
}

.Card {
  width: auto;
}

.Information img {
  width: 30%;
}

.Education img {
  /* height: 300px; */
  margin: 20px;
  width: 50%;
}

.paper {
  padding: 20px;
}
