.sk {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk .skc {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: skcGridScaleDelay 1.3s infinite ease-in-out;
  animation: skcGridScaleDelay 1.3s infinite ease-in-out;
}
.sk .skc1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk .skc2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk .skc3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk .skc4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk .skc5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk .skc6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk .skc7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk .skc8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk .skc9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes skcGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes skcGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
